= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-signin' }) do |f|
  %h2.form-signin-heading Forgot your password?
  = f.error_notification
  = f.input :email, :required => true, :autofocus => true, :input_html => { :class => 'input-block-level' }
  = f.button :submit, "Send me reset password instructions", :input_html => { :class => 'btn btn-large btn-primary'}
  = render "devise/shared/links"