= simple_form_for(@squad_member) do |f|
  = f.error_notification

  .form-inputs
    = f.input :uid
    = f.input :nickname
    = f.input :name
    = f.input :email
    = f.input :icq, :as => :hidden
    = f.input :remark

  .form-actions
    = f.button :submit
