%h1 Listing squad_members

%table
  %tr
    %th Squad
    %th Uid
    %th Nickname
    %th Name
    %th Email
    %th Icq
    %th Remark
    %th
    %th
    %th

  - @squad_members.each do |squad_member|
    %tr
      %td= squad_member.squad.name
      %td= squad_member.uid
      %td= squad_member.nickname
      %td= squad_member.name
      %td= squad_member.email
      %td= squad_member.icq
      %td= squad_member.remark
      %td= link_to 'Show', squad_member
      %td= link_to 'Edit', edit_squad_member_path(squad_member)
      %td= link_to 'Destroy', squad_member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Squad member', new_squad_member_path
