!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title SquadXML by Wakeuphate
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :modernizr
    = csrf_meta_tags
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'SquadXML by Wakeuphate', root_path, :class => 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li
                - if current_user.admin?
                  - if current_user.squad
                    = link_to "Manage Squad: #{current_user.squad.tag}", squad_path(current_user.squad)
                  - else
                    = link_to 'Create a Squad', new_squad_path
          / /.nav-collapse
    .container
      - if notice
        .alert.alert-success
          = notice
      - if alert
        .alert.alert-error
          %strong Warning!
          = alert
      = yield
    / /container
    = javascript_include_tag "application"